@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

nav {
  font-family: "font-family: 'Dela Gothic One', cursive" !important;
  background-color: rgb(174, 98, 245) !important;
  -webkit-box-shadow: 10px 10px 10px rgb(224, 222, 222);
  -moz-box-shadow: 10px 10px 10px rgb(224, 222, 222);
  box-shadow: 5px 5px 5px rgb(224, 222, 222);
}
.navbar-brand {
  font-size: 1.8rem !important;
  font-weight: bold;
  color: white !important;
  text-shadow: 0 5px 5px black;
}
.nav-active {
  border-bottom: 3px solid white;
}
.nav-link {
  margin-left: 10px;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 2px 2px rgb(56, 55, 55);
}
button {
  background-color: white !important;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .nav-link {
    text-align: center;
  }
  .nav-active {
    border-bottom: 0;
    color: rgb(242, 6, 250) !important;
  }
}
