.footer {
  margin-top: 10%;
  background-color: rgb(174, 98, 245) !important;
  text-shadow: 0 2px 2px black;
}
.fa-facebook {
  color: white;
}
.fa-linkedin {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-whatsapp {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-envelope {
  color: white;
}
